{% load thumbnail %}
{% load product_tags %}
{% load hyper_tags %}

<div id="demo" class="carousel custom-slider" data-ride="carousel">
    <div class="container">
        <ul class="carousel-indicators custom-indicator p-4">
            <h3>What tyres are you looking for?</h3>
            <p>Welcome to Rayhan Motors, we have tyres for all vehicles and applications</p>
            {% for category in categories %}
                    <div class="itm">
                        <li data-target="#demo" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %} class="active" {% endif %} >
                           {% if category.category_icon %}
                                 <img src="{{ category.category_icon.url }}" alt="{{ category.name }}" class="img-fluid">
                            {% endif %}
                        </li>
                         <a href="{{ category.get_absolute_url }}">
                            {{ category.name }}
                        </a>
                    </div>
            {% endfor %}
        </ul>
    </div>
    <div class="carousel-inner">
        {% for category in categories %}
            {% if category.image %}
                <div  class="carousel-item {% if forloop.first %} active {% endif %} "  >
                    <img src="{{ category.image.url }}" alt="Los Angeles" class="img-fluid" width="100%">
                </div>
            {% endif %}
        {% endfor %}
    </div>

</div>