{% extends "layout.html" %}
{% load promotion_tags %}

{% comment %}
Keep the same header and footer as the standard layout template but override the 
main content area to split it into a sidebar and a content block
{% endcomment %}
{% block content_wrapper %}

<div class="custom-breadcrumbs">
    <div class="container">
        <div class="row bg--custom m-0">
            <div class="col-md-12">
                {% block breadcrumbs %}{% endblock %}
            </div>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <div class="container">
        {% include "partials/alert_messages.html" %}
        <div class="row">
            <div class="col-md-12">
                <div id="promotions">
                    {% for promotion in promotions_page %}
                        {% render_promotion promotion %}
                    {% endfor %}
                </div>
            </div>
        </div><!--/row -->
    </div><!--/container-->
    {% block content %}{% endblock %}
</div>

{% endblock %}
